/* Section HolidayHistory Page */
.navbar {
    background-color: #262626;
  }
  body {
    padding-top: 70px;
  }

  .navbar-nav .nav-link.dropdown-toggle {
    color: white;
  }

  .logout-button {
    color: white;
    padding: 0.25rem;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }

  .logout-button i {
    margin-right: 5px;
  }


  tr.Approved {
    background-color: green;
  }

  tr.rejected {
    background-color: red;
  }

  tr.pending {
    background-color: lightgray;
  }
/* End Section HolidayHistory Page */