<!doctype html>
<html lang="en">

<head>
    <title>AllTerra</title>
    <link rel="stylesheet" href="homepage.css">
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <img src="images/logo.jpeg" width="220" height="40" class="d-inline-block align-top" alt="">
            <a class="btn btn-primary ml-auto custom-button" href="/login">Login</a>
        </div>
    </nav>

    <div class="image-container">
        <img src="images/hpskyline.jpg" alt="Image" />
        <div class="image-overlay">
            <p>Welcome to AllTerra</p>
            <a href="/login" class="btn btn-primary">Entrar</a>
        </div>
        <div class="bottom-text">
            <p>© 2023 All rights reserved.</p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>
